<!-- the extends syntax below is how we "template" in the header file to be visible on this page. This means that every time 
we update the header.html file, this page will dynamically receive that update too. Magic! --> 
{% extends "header.html" %} {% block body %}
<!-- the form below is from Clarity's login UI example. It can be customized with CSS as needed; but functions pretty well on its own. You'll
notice we reference "if" the user is actually logged in to display some text. If/Thens are easy in python/flask -->
<div class="login-wrapper">
    <form class="login" id="loginform", method="POST">
        <label class="title">
            {%if session['logged_in']==True%}
                <div class="alert alert-success">
                    <div class="alert-item">
                        <span>
                            Already Logged In
                        </span>
                    </div>
                </div>
            {% endif %}
            <h3 class="welcome">ClarityUI and Python Example</h3>
            Using Python and Flask
        </label>


        <!-- Below represents how we catch the variables that are entered into the form. In app.py we store these values and we're able to
        feed them into other functions if we want--> 
        <div class="login-group">
            {%if session['logged_in']==True%}
            <input class="username" type="text" name="username" placeholder="Username" disabled>
            <input class="password" type="password" name="password" placeholder="Password" disabled>
            {% else %}
            <input class="username" type="text" name="username" placeholder="Username" value="{{ request.form.username }}">
            <input class="password" type="password" name="password" placeholder="Password" value="{{ request.form.password }}">
            {% endif %}
            {% if session['wrong_pass']==True %}
            <div class="error active">
                Invalid user name or password
            </div>
            {% else %}
            <div>
                Enter Username and Password
            </div>
            {% endif %}
            {%if session['logged_in']==True%}
                <button type="submit" class="btn btn-primary" disabled>NEXT</button>
            {%else%}
                <button type="submit" class="btn btn-primary">NEXT</button>
            {%endif%}
        </div>
    </form>
</div>
{% endblock %}  